
@media (max-width:780px) {
        /* BODY */
        .main-body {
            z-index: 3;
            padding: 0px 50px;
        }

        #Knowledge {
            padding: 100px 0 0 0;
        }
    
        .active {
            filter: blur(6px);
        }

        /* Section 2 : about_me */
        .about_paragraph {
            display: block;
        }

        .about_paragraph .content_about_me {
            margin-bottom: 30px;
        }

        .about_paragraph .profile {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-knowledge {
            display: block;
        }
    
        .container-knowledge .menu-knowledge {
            display: flex;
            justify-content: center;
            margin-bottom: 16.5px;
        }

        .menu-knowledge button {
            border-top: var(--color-navy) solid 2px ;
            padding: 10px 8px;
            padding-left: none;
            border-left: none;
        }

        .menu-knowledge .activar{
            border-top: var(--colorSkyBlue) solid 2px ;
            border-left: none;
        }
}