
@media (max-width:780px) {
        /* BODY */
        .main-body {
            z-index: 3;
            padding: 0px 50px;
        }
    
        .active {
            filter: blur(6px);
        }

        /* Section 2 : about_me */
        .about_paragraph {
            display: block;
        }

        .about_paragraph .content_about_me {
            margin-bottom: 30px;
        }

        .about_paragraph .profile {
            display: flex;
            justify-content: center;
            align-items: center;
        }
}