
/* Section 1 about */

.main-body {
    padding: 0 100px;
    z-index: 3;
}

.section-main {
    min-height: 100vh;
    height: 100%;
}

.space {
    padding: 50px 0;
}

.section-main .greeting {
    margin-bottom: 10px;
}

.section-main .greeting h1{
    font-family: var(--sourceSecundary);
    color: var(--colorSkyBlue);
    font-weight: 500;
    font-size: 15px;
}

.section-main .title-secundary {
    margin-bottom: 10px;
}

.section-main .title-main h2 {
    font-family: var(--sourceMain);
    color: var(--colorTitle);
    font-size: clamp(40px, 8vw, 80px);
}

.section-main .title-secundary h3 {
    font-family: var(--sourceMain);
    color: var(--colorText);
    font-size: clamp(40px, 7vw, 80px);
}

.section-main .description-title p{
    font-family: var(--sourceMain) ;
    font-size: 17.5px;
    color: var(--colorText);
    font-weight: 300;
    max-width: 540px;
}

/* Section 2 : about me */

/* h2 : about me */

.title_about {
    display: flex;
    -webkit-box-align: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    font-family: var(--sourceMain);
    font-size: var(--titleSize);
    color: var(--colorTitle) ;
}

.title_about::before {
    counter-increment:  section 1;
    content: "0" counter(section) ".";
    position: relative;
    bottom: 4px;
    margin-right: 10px;
    font-family: var(--sourceSecundary);
    font-weight: 400;
    color: var(--colorSkyBlue);
}

.title_about::after {
    content: "";
    display: block;
    position: relative;
    top: 15px;
    height: 1px;
    width: 300px;
    margin-left: 20px;
    background-color:#233554;
}

/* section 2 : div = about_paragraph */

.about_paragraph {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.about_paragraph .about_paragraph_about_me {
    font-family: var(--sourceInter);
    color: var(--colorText);
}

.about_paragraph .about_paragraph_about_me p {
    font-size: 16px;
    margin-bottom: 15px;
}

/* section 2 : profile img */

.profile img {
    border-radius: 4px;
    box-shadow: -10px 0px 30px -15px;
}

.profile img::before {
    content: "";
    width: 300;
    height: 300;
    position: absolute;
    border-color: var(--colorSkyBlue);
    transition: 0.3s;

}

/* Section 2 : ul skill_list */

.skill_list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin-top: 30px;
    overflow: hidden;
    list-style: none;
}

.skill_list li {
    font-family: var(--sourceNumber);
    font-size: 12px;
    color: var(--colorText);
    margin-bottom: 10px;
    padding-left: 20px;
}

.skill_list li::before {
    content: "▹ ";
    color: var(--colorSkyBlue);
    font-size: var(--textSize);
}

/* Section 3: Knowledge */

#Knowledge .title_about::before {
    counter-increment: section 2;
}

.container-knowledge {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas:
    "izquierda izquierda derecha derecha derecha derecha derecha derecha derecha derecha derecha derecha";
}

.container-knowledge .menu-knowledge {
    display: grid;
    grid-area: izquierda;
}

/* button menu-knowledge */

.menu-knowledge button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--sourceSecundary);
    font-size: 13px;
    font-weight: 400;
    background-color:transparent;
    padding-left: 10px;
    color: var(--colorText);
    border: none;
    cursor: pointer;
    border-left: var(--color-navy) solid 2px;
}

.menu-knowledge button:hover {
    background-color: var(--color-lightest-navy);
    color: var(--colorSkyBlue);
}



.menu-knowledge #javascript-content {
    border-left: var(--colorSkyBlue) solid 2px;
}

/* content-knowledge */

.container-knowledge .content-knowledge {
    grid-area: derecha;
    padding-left: 15px;
}

.btn-title-knowledge{
    font-family: var(--sourceMain);
    font-size: 18px;
    color: var(--colorSkyBlue);
    margin: 5px 0 7px 0 ;
}

.btn-data-knowledge {
    font-family: var(--sourceSecundary);
    font-size: 13px;
    color: var(--colorText);
    margin-bottom: 10px;
}

/* div content-paragraph knowledge ul li */

.content-paragraph-knowledge ul li {
    position: relative;
    font-family: var(--sourceText);
    font-size: var(--textSize);
    padding-left: 22px;
    margin-bottom: 10px;
    color: var(--colorText);
    list-style: none;
}

.content-paragraph-knowledge ul li::before {
    content: "▹";
    position: absolute;
    left: 0;
    color: var(--colorSkyBlue);
}
